*{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: black;
    color: white;
    height: 70px;
}
.navbar ul li {
    display: inline-block;
    margin: 10px 20px;
    justify-content: right;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
}
.left{
    display: inline-block;
    background-color: green;
    width: 50%;
    height: 100vh;
}
.right{
    display: inline-block;
    background-color: red;
    width: 50%;
    height: 100vh;
}
footer{
    background-color: purple;
    height: 20px;
    text-align: center;
    font-weight: 700;
    font-style: italic;
}